<template name="response">
	<li>
		<div class="row">
			{{ #if checkResponseWinner ../winner _id }}
				<img src="/images/star-yellow-small.png"/>
			{{ /if }}
			<span class="text col-xs-9" style="white-space: normal;">{{ text }} ({{ username }})</span>
			{{ #if userHasVoted _id }}
				<span>Votes: {{ votes }}</span>
				<span class="unvote" data-id="{{ _id }}" data-index="{{ _index }}">
					<button class="unvotes"><img src="/images/thumb-blue.gif" /></button>
				</span>
			{{ else }}
				<span class="vote btn" data-id="{{ _id }}" data-index="{{ _index }}">
					<span>Votes: {{ votes }}</span>
					<button class="votes"><img src="/images/thumb-grey.gif" /></button>
				</span>
			{{ /if }}
			<span class="winner btn" data-id="{{ _id }}" data-index="{{ _index }}">
				{{ #unless checkResponseWinner ../winner _id }}	
					{{ #if checkTopicOwner ../_id }}
						<button class="winning"><img src="/images/star-grey-small.png"/></button>
					{{ /if }}
				{{ /unless }}
			</span>
			<span class="deleteResponse btn" data-id="{{ _id }}" data-index="{{ _index }}">
				{{ #if checkResponseOwner _id }}
					<button class="deleteResponseBtn" ><img src="/images/trash-small-grey.gif" /></button>
				{{ /if }}
			</span>
		</div>
	</li>
</template>