<template name="response">
	<li>
		<div class="row">
			<div class="col-xs-12">
				<div style="float:left; padding-right:3px">{{ > avatar user=(getAvatarUser this.owner) shape="circle"}}</div>
				<div><h5>{{ getUsername owner }}</h5></div>
			</div>
			
			<div class="col-xs-10">
				<div class="col-xs-12" style="padding:6px 0px">
					<span class="" style="white-space: normal">{{ text }}</span>
				</div>
				{{ #if userHasVoted _id }}
					<span style="white-space: normal">Votes: {{ votes }}</span>
					<span class="unvote btn-inline btn" data-id="{{ _id }}" data-index="{{ _index }}">
						<button class="unvotes"><img src="/images/thumb-blue.gif" /></button>
					</span>
				{{ else }}
					<span style="white-space: normal">Votes: {{ votes }}</span>
					<span class="vote btn-inline btn" data-id="{{ _id }}" data-index="{{ _index }}">
						<button class="votes"><img src="/images/thumb-grey.gif" /></button>
					</span>
				{{ /if }}
				
				{{ #unless checkResponseWinner ../winner _id }}	
					{{ #if checkTopicOwner ../_id }}
						<span class="winner btn-inline btn" data-id="{{ _id }}" data-index="{{ _index }}">
							<button class="winning"><img src="/images/star-grey-small.png"/></button>
						</span>
					{{ /if }}
				{{ else }}
					<img class="btn-inline btn" src="/images/star-yellow-small.png"/>
				{{ /unless }}
				
				<span class="deleteResponse btn-inline btn" data-id="{{ _id }}" data-index="{{ _index }}">
					{{ #if checkResponseOwner _id }}
						<button class="deleteResponseBtn" ><img src="/images/trash-small-grey.gif" /></button>
					{{ /if }}
				</span>
			</div>
		</div>
	</li>
</template>