<template name="topic">
<div class="topic well well-lg" data-id="{{ _id }}">
	{{ #if checkTopicOwner _id }}
		<button class="deletePrompt">Delete Prompt</button>
	{{ /if }}
	<h3>{{ prompt }}</h3>
	

	{{ #each topicResponses _id }}
	<li>
		<div class="row">
			{{ #if checkResponseWinner ../winner _id }}
				<span class = "text col-xs-6">Winner Winner Chicken Dinner!</span>
			{{/if}}
			<span class="text col-xs-9" style="white-space: normal;">{{ text }} ({{ username }})</span>
			<span class="vote btn" data-id="{{ _id }}" data-index="{{ _index }}">
				<button class="votes"  >{{ votes }}</button>
			</span>
			<span class="winner btn" data-id="{{ _id }}" data-index="{{ _index }}">
				{{ #if checkTopicOwner ../_id }}
				<button class="winning" >Mark As Winner</button>
				{{ /if }}
			</span>
			<span class="deleteResponse btn" data-id="{{ _id }}" data-index="{{ _index }}">
				{{ #if checkResponseOwner _id }}
				<button class="deleteResponseBtn" >Delete Suggestion</button>
				{{ /if }}
			</span>
		</div>
	</li>
	{{ /each }}
	
	<div class="topic-group">
		{{ #if currentUser }}
			<label>Suggest a Pun!</label>
			<div>
				<form>
					<input type="text" name="suggest" data-id="{{ _id }}" class="form-control greatscotts" placeholder="The punnier, the better!">
					<button type="submit" class="suggestion btn btn-primary">Submit Suggestion</button>
				</form>
			</div>
		{{ else }}
			<label>Login or sign up to suggest a pun!</label>
		{{ /if }}
	</div>
</div>
</template>