.topic button {
	color: #000;
}
li {
	position: relative;
	list-style: none;
	padding: 10px;
	border-bottom: #eee solid 1px;
}
li .text {
	margin-left: 10px;
}
.winning {
  border: 0px solid transparent; /* this was 1px earlier */
  background-color: transparent;
}

.deletePrompt {
	border: 0px solid transparent;
	background-color: transparent;
}