<template name="topic">
<div class="topic responseParent well well-lg" data-id="{{ _id }}">
	{{ #if checkTopicOwner _id }}
		<button class="deletePrompt">Delete</button>
	{{ /if }}
	<div>
		<h3><a href="/topic/{{_id}}">{{ prompt }}</a> <h6><em> submitted by {{ getUsername owner}}</em></h6></h3>
	</div>
	{{ #with topicWinner _id }}
		{{ >response }}
	{{ /with }}

	{{ #each topicNonWinners _id 2 }}
		{{ >response }}
	{{ /each }}
	<div class="well">
		<a href="/topic/{{_id}}">See all responses, or add your own!</a>
	</div>
</div>
</template>